.products {
  &__wrapper {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-title);
      margin-bottom: 50px;
      .view-more-btn {
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
          padding: 10px 28px;
          svg {
              width: 18px;
              height: 18px;
          }
        }
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      @include f {
        justify-content: center;
        
      }
      > * {
        
        @include t {
          flex-basis: 30%;
        }
        @include a {
          flex-basis: 45%;
        }
        @include f {
          flex-basis: 100%;
          
        }
      }
    }
  }
}
