.seller {
  &__wrapper {
    &-head {
      margin-bottom: 50px;
      color: var(--color-title);
    }
    &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
  }
  &__item {
    flex-basis: 20%;
    counter-increment: rn-list-counter;
    position: relative;
    @include a {
      flex-basis: 40%;
    }
    @include s {
      flex-basis: 100%;
    }
    &:hover {
      &:before {
        font-size: 45px;
      }
      .seller__item-wrapper {
        .thumbnail {
          a {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }
    &:before {
      content: counter(rn-list-counter);
      font-weight: 700;
      font-size: 61px;
      margin-right: 0.5rem;
      line-height: 1;
      position: absolute;
      right: 30px;
      z-index: 3;
      color: var(--color-body);
      opacity: 0.1;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      transition: 0.4s;
      color: var(--color-light);
    }
    &-wrapper {
      display: -moz-box;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      .thumbnail {
        max-width: 60px;
        a {
          display: block;
          border-radius: 50%;
          line-height: 0.7;
          overflow: hidden;
          border: 3px solid var(--color-border);
          box-sizing: border-box;
          display: inline-block;
          overflow: hidden;
          width: 54px;
          height: 54px;
          background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
          opacity: 1;
          border: 0px none;
          margin: 0px;
          padding: 0px;
          position: relative;
          img {
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: medium none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            transition: 0.4s;
          }
        }
      }
      .content {
        margin-left: 12px;
        a {
          text-decoration: none;
          color: var(--color-title);
          h6 {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 500;
            transition: 0.4s;
          }
          &:hover {
            color: var(--color-primary);
          }
        }
        .count {
          font-size: 14px;
          color: var(--color-light);
        }
      }
    }
  }
}
