<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col">
        <p>Created with the collaboration of over 60 of the world's best.</p>
        <hr />
        <div class="widget">
          <h6 class="title">Get The Latest Updates</h6>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your username"
              aria-label="Recipient's username"
            />
            <div class="input-group-append">
              <button class="btn" type="button">Subscribe</button>
            </div>
          </div>
          <div class="desc">Email is safe. We don't spam.</div>
        </div>
      </div>
      <div class="footer__col">
        <h6 class="title">About</h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#">Protocol Explore</a>
          </li>
          <li class="footer__list-item">
            <a href="#">System Token</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Otimize Time</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Visual Checking</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Fadeup System</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Activity Log</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="title">Information</h6>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#">Market Explore</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Ready Token</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Otimize Time</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Main Option</a>
          </li>
          <li class="footer__list-item">
            <a href="#">Blog Grid</a>
          </li>
          <li class="footer__list-item">
            <a href="#">About Us</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="title">Recent Sold Out</h6>
        <ul class="recent-post">
          <li class="recent-item">
            <div class="thumbnail">
              <a href="#">
                <img src="img/recent-1.webp" alt="" />
              </a>
            </div>
            <div class="content">
              <h6 class="title">
                <a href="#">#21 The Wonder</a>
              </h6>
              <p>Highest bid 1/20</p>
              <span class="price">0.244wETH</span>
            </div>
          </li>
          <li class="recent-item">
            <div class="thumbnail">
              <a href="#">
                <img src="img/recent-2.webp" alt="" />
              </a>
            </div>
            <div class="content">
              <h6 class="title">
                <a href="#">#21 The Wonder</a>
              </h6>
              <p>Highest bid 1/20</p>
              <span class="price">0.244wETH</span>
            </div>
          </li>
          <li class="recent-item">
            <div class="thumbnail">
              <a href="#">
                <img src="img/recent-3.webp" alt="" />
              </a>
            </div>
            <div class="content">
              <h6 class="title">
                <a href="#">#21 The Wonder</a>
              </h6>
              <p>Highest bid 1/20</p>
              <span class="price">0.244wETH</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__info">
        <div class="copy">©2022 All rights reserved</div>
        <ul class="list">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="#">
                        <i data-feather="facebook"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#">
                        <i data-feather="twitter"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#">
                        <i data-feather="instagram"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#">
                        <i data-feather="linkedin"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#">
                        <i data-feather="mail"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</footer>
