<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="logo">Brand</a>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Product</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="btns">
        <a href="#" class="btn wallet-btn">Wallet connect</a>
        <div class="wallet">
          <div class="icon-box">
            <a href="#">
              <i data-feather="credit-card"></i>
            </a>
          </div>
        </div>
        <div class="search search-open">
          <div class="icon-box">
            <a href="#">
              <i data-feather="search"></i>
            </a>
          </div>
        </div>
        <div class="search-form">
          <div class="search-form__wrapper">
            <form>
              <input type="text" placeholder="search" />
              <button>
                <div class="icon-box">
                  <a href="#">
                    <i data-feather="search"></i>
                  </a>
                </div>
              </button>
            </form>
            <div class="icon-box close search-close">
              <a href="#">
                <i data-feather="x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="notification">
          <div class="icon-box">
            <a href="#">
              <i data-feather="bell"></i>
              <span class="badge">6</span>
            </a>
          </div>
        </div>
        <div id="switcher" class="switcher">
          <div class="setColor icon-box">
            <div class="switcher-btn light">
              <img src="img/sun-01.svg" alt="" />
            </div>
            <div class="switcher-btn dark">
              <img src="img/moon-01.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="hamburger">
          <div class="icon-box">
            <div class="burger">
              <div class="burger-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
