<section class="collection section">
  <div class="container">
    <div class="collection__wrapper">
      <div class="collection__wrapper-head">
        <h2 class="title">Top Collection</h2>
        <div class="view-more-btn">
          <a href="#">VIEW ALL<i data-feather="arrow-right"></i></a>
        </div>
      </div>
      <div class="collection__wrapper-body">
        <div class="collection__item">
          <a href="#">
            <div class="collection__item-wrapper">
              <div class="thumbnail">
                <img src="img/collection-1.webp" alt="" />
              </div>
              <div class="thumbnail-small">
                <div>
                  <img src="img/collection-1-1.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-2.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-3.webp" alt="" />
                </div>
              </div>
              <div class="profile">
                <img src="img/avatar-1.webp" alt="" />
              </div>
              <div class="deg">
                <h6 class="title">Cubic Trad</h6>
                <span class="items">27 items</span>
              </div>
            </div>
          </a>
        </div>
        <div class="collection__item">
          <a href="#">
            <div class="collection__item-wrapper">
              <div class="thumbnail">
                <img src="img/collection-1.webp" alt="" />
              </div>
              <div class="thumbnail-small">
                <div>
                  <img src="img/collection-1-1.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-2.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-3.webp" alt="" />
                </div>
              </div>
              <div class="profile">
                <img src="img/avatar-1.webp" alt="" />
              </div>
              <div class="deg">
                <h6 class="title">Cubic Trad</h6>
                <span class="items">27 items</span>
              </div>
            </div>
          </a>
        </div>
        <div class="collection__item">
          <a href="#">
            <div class="collection__item-wrapper">
              <div class="thumbnail">
                <img src="img/collection-1.webp" alt="" />
              </div>
              <div class="thumbnail-small">
                <div>
                  <img src="img/collection-1-1.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-2.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-3.webp" alt="" />
                </div>
              </div>
              <div class="profile">
                <img src="img/avatar-1.webp" alt="" />
              </div>
              <div class="deg">
                <h6 class="title">Cubic Trad</h6>
                <span class="items">27 items</span>
              </div>
            </div>
          </a>
        </div>
        <div class="collection__item">
          <a href="#">
            <div class="collection__item-wrapper">
              <div class="thumbnail">
                <img src="img/collection-1.webp" alt="" />
              </div>
              <div class="thumbnail-small">
                <div>
                  <img src="img/collection-1-1.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-2.webp" alt="" />
                </div>
                <div>
                  <img src="img/collection-1-3.webp" alt="" />
                </div>
              </div>
              <div class="profile">
                <img src="img/avatar-1.webp" alt="" />
              </div>
              <div class="deg">
                <h6 class="title">Cubic Trad</h6>
                <span class="items">27 items</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
