<section class="seller section">
    <div class="container">
        <div class="seller__wrapper">
            <div class="seller__wrapper-head">
                <h2 class="title">Top Seller</h2>
            </div>
            <div class="seller__wrapper-body">
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-4.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-5.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-6.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-7.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-8.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-1.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-2.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
                <div class="seller__item">
                    <div class="seller__item-wrapper">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="img/avatar-3.webp" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="#"><h6 class="name">Mark Jordan</h6></a>
                            <span class="count">2,500,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>