<section class="steps section">
  <div class="container">
    <div class="steps__wrapper">
      <div class="steps__wrapper-head">
        <h2 class="title">Create and sell your NFTs</h2>
      </div>
      <div class="steps__wrapper-body">
        <div class="steps__item">
          <div class="steps__item-data">
            <div class="icon">
              <img src="img/step-1.png" alt="" />
            </div>
            <div class="subtitle">Step-01</div>
            <div class="content">
              <h4 class="title"><a href="#">Set up your wallet</a></h4>
              <p class="description">
                Powerful features and inclusions, which makes Nuron standout,
                easily customizable and scalable.
              </p>
              <a href="#" class="read-more-button">
                <i data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
          <a href="#" class="steps__item-link"
            ><span class="visually-hidden"></span
          ></a>
        </div>
        <div class="steps__item">
          <div class="steps__item-data">
            <div class="icon">
              <img src="img/step-2.png" alt="" />
            </div>
            <div class="subtitle">Step-02</div>
            <div class="content">
              <h4 class="title"><a href="#">Set up your wallet</a></h4>
              <p class="description">
                Powerful features and inclusions, which makes Nuron standout,
                easily customizable and scalable.
              </p>
              <a href="#" class="read-more-button">
                <i data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
          <a href="#" class="steps__item-link"
            ><span class="visually-hidden"></span
          ></a>
        </div>
        <div class="steps__item">
          <div class="steps__item-data">
            <div class="icon">
              <img src="img/step-3.png" alt="" />
            </div>
            <div class="subtitle">Step-03</div>
            <div class="content">
              <h4 class="title"><a href="#">Set up your wallet</a></h4>
              <p class="description">
                Powerful features and inclusions, which makes Nuron standout,
                easily customizable and scalable.
              </p>
              <a href="#" class="read-more-button">
                <i data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
          <a href="#" class="steps__item-link"
            ><span class="visually-hidden"></span
          ></a>
        </div>
        <div class="steps__item">
          <div class="steps__item-data">
            <div class="icon">
              <img src="img/step-4.png" alt="" />
            </div>
            <div class="subtitle">Step-04</div>
            <div class="content">
              <h4 class="title"><a href="#">Set up your wallet</a></h4>
              <p class="description">
                Powerful features and inclusions, which makes Nuron standout,
                easily customizable and scalable.
              </p>
              <a href="#" class="read-more-button">
                <i data-feather="arrow-right"></i>
              </a>
            </div>
          </div>
          <a href="#" class="steps__item-link"
            ><span class="visually-hidden"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
